// embed web fonts
@font-face {
    font-family: 'yekan';
    src: url('/font/lmu_yekan-webfont.eot?') format('eot'),
      url('/font/lmu_yekan-webfont.woff') format('woff'),
      url('/font/lmu_yekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mitra';
    src: url('/font/BMitra-Regular.eot?') format('eot'),
      url('/font/BMitra-Regular.woff') format('woff'),
      url('/font/BMitra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#header {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiPgogICAgICAgICAgICA8cmVjdCB4PSIwIiB3aWR0aD0iMjQiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6IzE3MjMyNyIvPgogICAgICAgICAgICA8cmVjdCB4PSIyNCIgd2lkdGg9IjQiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6IzE5MzcyYyIvPgogICAgICAgICAgICA8cmVjdCB4PSIyOCIgd2lkdGg9IjExNiIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDojMzI3MzQ0Ii8+CiAgICAgICAgICAgIDxyZWN0IHg9IjE0NCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiM0MzdlNGMiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMTU2IiB3aWR0aD0iMzAiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6Izg2OTk1NiIvPgogICAgICAgICAgICA8cmVjdCB4PSIxODYiIHdpZHRoPSI1IiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiNiMDhmNDIiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMTkxIiB3aWR0aD0iMzEiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6I2I0NjgzOSIvPgogICAgICAgICAgICA8cmVjdCB4PSIyMjIiIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDojYTQzOTQxIi8+CiAgICAgICAgICAgIDxyZWN0IHg9IjIzNSIgd2lkdGg9IjUxIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiM5YzJjNTIiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMjg2IiB3aWR0aD0iNiIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDojYmI0MjZiIi8+CiAgICAgICAgICAgIDxyZWN0IHg9IjI5MiIgd2lkdGg9IjMzIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiM4YTJmNWMiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMzI1IiB3aWR0aD0iMSIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDojNmQ0MTZkIi8+CiAgICAgICAgICAgIDxyZWN0IHg9IjMyNiIgd2lkdGg9IjMwIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiM0MTMyNjQiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMzU2IiB3aWR0aD0iNyIgaGVpZ2h0PSIxMDAlIiBzdHlsZT0iZmlsbDojMjk0MTZlIi8+CiAgICAgICAgICAgIDxyZWN0IHg9IjM2MyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiM1NjkwYTUiLz4KICAgICAgICAgICAgPHJlY3QgeD0iMzg3IiB3aWR0aD0iNjQiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6IzJlODQ5ZCIvPgogICAgICAgICAgICA8cmVjdCB4PSI0NTEiIHdpZHRoPSI3IiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiMyNzY2ODYiLz4KICAgICAgICAgICAgPHJlY3QgeD0iNDU4IiB3aWR0aD0iMzQiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6IzIzNDM2ZSIvPgogICAgICAgICAgICA8cmVjdCB4PSI0OTIiIHdpZHRoPSI4IiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOiMxNDJhMDYiLz4KICAgIDwvc3ZnPgo=) repeat-x top right;
    padding: 0 1em;
    height: 80px;
    h1 {
	margin: 0;
	a { 
	    color: #fff;
	}
	small {
	    color: #efefef;
	}
    }
}